<html>
  <head>
    <title>Iris Flower Classification</title>
   </head>
    <body>
      <h1><center>Iris Flower Classification</center></h1>
      <center><form method="post">
        <p>Sepal length(in cm):</p>
        <p><input type="text" name="sl"></p>
        <p>Sepal width(in cm):</p>
        <p><input type="text" name="sw"></p>
        <p>Petal length(in cm):</p>
        <p><input type="text" name="pl"></p>
        <p>Petal width(in cm):</p>
        <p><input type="text" name="pw"></p>
        <p><input type="submit" value="Submit"></p>
      </form>
      <p>Flower type: {{ flower }}</p>
      <p> {{ error }} </p></center>
    </body>
</html>
